body{
  /*background: url(../images/back.png) no-repeat center center fixed; 

  background-size: cover;*/


background-color: rgb(34, 69, 72 );
}
@font-face {
    font-family: "BEBAS";
    src: url("../font/BEBAS.ttf");
}
div{
    
      color: #fff;

}

.navbar {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 10rem;
    z-index: 1000;
    border-radius: 0;
    border: 0;
}

.head {

    font-family: 'BEBAS', arial;
    font-size: 2rem;
    
 
   
    top: 1rem;
    left: 9rem;
    color: #00FF7F !important;
    
}



.navbar-brand:hover {
    color: #fff !important;
}

.navbar-brand:active {
    color: #fff;
}

.navbar-brand:visited {
    color: #fff;
}

.navbar-brand:focus {
    color: #fff;
}
.left{
  margin-left: 120px;
  float: left;
  margin-top: 100px;


}
h4{
  font-family: 'arial';
}
.border{

   border: 2px;
   border-style: groove;
   padding:10px 30px 10px 10px;
}
.right{
  float: right;
  margin-right: 25px;
  margin-top: 100px;
  vertical-align: center;
}
.name{
  text-align: right;
  font-family: BEBAS;
  margin:0 0 5px 10px;
  }

.imga{
  margin-right: 0;
}
